*.pyc
*.code-workspace
*.png
*.python-version
.env
build/
*.egg-info
*a.csv
*.pdf
.venv
*.log
*.out
*.safetensors
node_modules/
__pycache__/
*.ipynb_checkpoints/
*.swp
.DS_Store
*.pkl
*.h5
*.npy
*.npz
*.zip
*.tar.gz
*.tar
*.gz
*.tgz
