anthropic
beautifulsoup4
chromadb
colorama
diffusers
duckduckgo-search
flask
flask_cors
flask_sse
google-genai
google-generativeai
gtts
jinja2
kuzu
markdown
matplotlib
mkdocstrings-python
nltk
numpy
ollama
opencv-python
openai
openai-whisper
pandas
Pillow
playsound==1.2.2
psycopg2-binary
pyaudio
pyautogui
pygments
PyMuPDF
pyttsx3
python-dotenv
PyYAML
redis
rich
scipy
sentence_transformers
sqlalchemy
termcolor